.markdown-source-view.mod-cm6.is-readable-line-width.fountain .cm-sizer {
	--file-line-width: var(--fountain-line-width);
}

/* =================== Shared: editor + reading view =================== */

.markdown-source-view.fountain .cm-content,
.markdown-preview-view.fountain {
	/* ----------------------------- main tokens ------------------------------ */

	.cm-fountain-scene-heading {
		font-weight: var(--font-bold);
	}

	.cm-fountain-parenthetical,
	.cm-fountain-lyrics {
		font-style: italic;
	}

	.cm-fountain-transition {
		font-weight: var(--font-bold);
		text-align: right;
	}

	.cm-fountain-centered {
		font-weight: var(--font-bold);
		text-align: center;
	}

	/* transition and centered tokens, must override Obsidian blockquote styles */
	.cm-fountain-centered,
	.cm-fountain-transition {
		font-style: normal;
		background-color: inherit;
		padding-inline-start: 0 !important;
		&::before {
			display: none;
		}
	}

	.cm-fountain-character {
		width: var(--fountain-character-line-width);

		body:not(.fountain-theme-fix) & {
			position: relative;
			left: calc(
				(var(--fountain-line-width) - var(--fountain-character-line-width)) / 2
			);
		}
	}

	.cm-fountain-lyrics,
	.cm-fountain-dialogue {
		width: var(--fountain-dialogue-line-width);

		body:not(.fountain-theme-fix) & {
			position: relative;
			left: calc(
				(var(--fountain-line-width) - var(--fountain-dialogue-line-width)) / 2
			);
		}
	}

	.cm-fountain-parenthetical {
		width: var(--fountain-parenthetical-line-width);

		body:not(.fountain-theme-fix) & {
			position: relative;
			left: calc(
				(
						var(--fountain-line-width) -
							var(--fountain-parenthetical-line-width)
					) /
					2
			);
		}
	}

	.cm-fountain-boneyard {
		color: var(--text-faint);
	}
}

/* =================== Editor-only additions =================== */

.markdown-source-view.fountain .cm-content {
	.cm-fountain-parenthetical,
	.cm-fountain-character-extension,
	.cm-fountain-lyrics {
		font-style: italic;
	}

	.cm-fountain-transition {
		.cm-quote-1:not(.cm-formatting) {
			color: var(--text-normal);
		}
	}

	.cm-fountain-centered {
		.cm-quote-1:not(.cm-formatting) {
			color: var(--text-normal);
		}
	}

	/* set on element.style by blockquote */
	.cm-fountain-centered,
	.cm-fountain-transition {
		text-indent: 0 !important;
	}

	/* in themes like Minimal, width is overridden by a more specific selector */
	.cm-fountain-character {
		--line-width: var(--fountain-character-line-width);
	}

	.cm-fountain-lyrics,
	.cm-fountain-dialogue {
		--line-width: var(--fountain-dialogue-line-width);
	}

	.cm-fountain-parenthetical {
		--line-width: var(--fountain-parenthetical-line-width);
	}

	/* ----------------------------- formatting ------------------------------- */

	/* FIXME */
	.cm-fountain-boneyard,
	.cm-fountain-formatting-boneyard-start,
	.cm-fountain-formatting-boneyard-end,
	.cm-formatting[class*="cm-fountain-formatting-"] {
		color: var(--text-faint);
	}

	.cm-line > *:not(.cm-formatting) {
		--code-comment: var(--fountain-code-comment, var(--text-muted));
	}
}

.markdown-source-view.mod-cm6.fountain .cm-line:not(.cm-active) {
	[class*="cm-fountain-formatting-"] {
		display: none;
	}

	.cm-fountain-formatting-centered {
		visibility: hidden;
		display: inherit;
	}
}

/* =================== Reading-view-only additions =================== */

.markdown-preview-view.fountain {
	blockquote.cm-fountain-transition,
	blockquote.cm-fountain-centered {
		border-left: none;
	}
}
